<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body style="background: yellow; color: darkblue; font-size: 46px;">
<h1>ID-<%=newsId%><%=newParam%></h1>

<p><b>Tittle:</b><%=obj.tittle%></p>
<p><b>ID:</b><%=obj.id%></p>
<ul>
<%obj.paragraphs.forEach(function(item){%>
  <li><%=item%></li>
  <%});%>
</ul>
<ol>
    <li>text</li>
    <li value="3">text
                      <ul type="circle">
                          <li>text</li>
                          <li type="square">text</li>
                                                     <ol type="a">
                                                         <li>text</li>
                                                         <li value="3">text</li>
                                                     </ol>
                          <li type="disc">text</li>
                      </ul>
       </li>
     <li value="8">text</li>
</ol>
<img src="Koala.jpg">


<dl>
    <dt>EJS</dt>
    <dd>text</dd>
    <dd>text</dd>
    <dd>text</dd>
    <dt>TEXT</dt>
    <dd>text2</dd>
    <dd>text2</dd>
    <dd>text2</dd>
    <dd>text2</dd>
</dl>


</body>
</html>
